<div class="container">
    <div ass="row">
        <div class="cclol-xs-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left" id="leftBar">
                            <li><span><img src="assets/images/logo.png" class="img-rounded" width="50"
                                           height="50"></span></li>
                            <li><a href="#myPage"><strong>P-P-P-Pokerface</strong></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#myPage">HOME</a></li>
                            <li><a href="#band">PLAYER</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Merchandise</a></li>
                                    <li><a href="#">Extras</a></li>
                                    <li><a href="#">About us</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>