<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <opponents-stream></opponents-stream>
    </div>
    <div class="col-xs-6">
      <opponents-card index="0"></opponents-card>
      <opponents-card index="1"></opponents-card>
      <opponents-card index="2"></opponents-card>
    </div>
  </div>
</div>
