<div class="opponents-card">
  <div class="x_panel">
    <div class="x_title">
      <h2>Player {{index}}</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <a class="collapse-link" ng-click="expanded = !exanded">
            <i ng-if="expanded" class="fa fa-chevron-up"></i>
            <i ng-if="!expanded" class="fa fa-chevron-down"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">


    </div>
  </div>
</div>
