.opponents-stream #video {
  object-fit: cover;

   position: absolute;
   top: -9999px;
   bottom: -9999px;
   left: -9999px;
   right: -9999px;
   margin: auto;
}

.opponents-stream {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
}

#videoCanvas {
    top: 0px;
    left: 0px;
    position: absolute;
}
