<div class="opponents-card">
  <div class="x_panel">
    <div class="x_title">
      <h2>Player {{index+1}}</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class={{recognized?(isBluffing?"label-danger":"label-success"):"label-default"}}>{{recognized?(isBluffing?"Bluffing!":"Not Bluffing"):"Not recognized"}}</a></li>
        <li>
          <a class="collapse-link" ng-click="expanded = !expanded">
            <i ng-if="expanded" class="fa fa-chevron-up"></i>
            <i ng-if="!expanded" class="fa fa-chevron-down"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <!-- Main Chart -->
      <canvas id="chart" style="width:100%; height:70px" width="894" height="200"></canvas>

      <div ng-if="expanded">
        <canvas id="radar"
                class="chart chart-radar"
                chart-data="data"
                chart-options="options"
                chart-labels="labels">
        </canvas>
      </div>

    </div>
  </div>
</div>
